
body {
    background-color: rgb(0,48,64);
    color: rgb(179,194,95);
    font-family: "blenny", blenny;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	font-style: factoria;	
}

footer {
	font-style: factoria;
	font-size: 90%;
}

